html {
    background-color: var(--bg-color);
    color: var(--text-color);
    overscroll-behavior: none;
}

*, *::before, *::after {
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    --webkit-user-select: none;
    user-select: none;
    cursor: default;
}

a, a *, button  * {
    cursor: pointer;
}

p, input {
    -webkit-user-select: text;
    user-select: text;
    cursor: text;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgba(27, 38, 54, 0.5);
        --text-color: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: rgba(27, 38, 54, 0);
        --text-color: black;
    }
}
